
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
  
  }
  
 
  
 #calculator{
	 width: 500px;
	  margin: auto;
	  margin-top:50px;
    padding: 5px;
   height: 670px;
	background-color: white;
    font-size: 1.2rem;
    border: solid 4px #e1e3e1;
    border-radius: 10px;
    box-shadow: 0px 1px 7px opx #e1e3e1;
 }

  .calculator-grid {
	
    display: grid;
    justify-content: center;
    align-content: center;
	margin-top:30px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	
	
	
    }

    .calculator-grid > button {
      cursor: pointer;
      width: 70px;
	  height: 70px;
	  border: none;
	  border-radius: 50%;
	  font-size: 1.5rem;
	  outline: none;
	  background-color: #e1e3e1;
	  
    }

      .calculator-grid > button:hover {
        background-color: #a9a9a9;
		
      }

      button.span-two {
		  
        grid-column: span 2;
		
        font-weight: bold;
		font-size: 1.5rem;
		background-color: #009499;
		color:white;
      }

      .output{
		  margin-bottom:10px;
		  border-radius:7px;
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }

      

      .output .current-operand{
        color: white;
        font-size: 2.5rem;
      }
